.titlebar{
    display: block;
    color: #e9e9e9;
    font-size: 20px;
}

.progress_bar{
    box-sizing: border-box;
    background-color: #424141;
    border: #000 solid 3px;
    height: 30px;
}

.progress_bar::-webkit-progress-bar,
.progress_bar::-moz-progress-bar{
    background-color: #F77F00;
  }