.main-banner {
    background-image: url('../../images/code.png');
    background-repeat: no-repeat;
    background-color: #4e4e4e;
    border-bottom: 5px solid #000;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main-banner .myface {
    height: 440px;
    width: 100%;
    object-fit: cover;
}

.main-banner .wrapper_banner{
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 68px 0px 68px 15%;
}

.main-banner .main-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.banner{
    display: inline-block;
    background-image: linear-gradient(#4e4e4e, #414141);
    box-shadow: 10px 10px 0px #000;
    text-align: center;
    padding: 20px 55px;
}

