.main-projects{
    background-color: #272727;
    border-bottom: 5px solid #F77F00;
}

.wrapper_projects{
    padding: 30px 10px;
}

.projects_title{
    text-align: center;
    margin-bottom: 40px;
}

.container_projects{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project_icon{
    box-shadow: 5px 5px 0px #000;
    width: 200px;
}

.project_icon.-first{
    background-color: #E22023;
}

.project_icon.-second{
    background-color: #0D558C;
}

.project_icon.-third{
    background-color: #1E6E50;
}