.main-projects{
    background-color: #272727;
    border-bottom: 5px solid #000;
}

.wrapper_projects{
    padding: 30px 10px;
}

.projects_title{
    text-align: center;
    margin-bottom: 40px;
}

.container_projects{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.project_icon{
    box-shadow: 5px 5px 0px #000;
    width: 180px;
}

.project_icon.-first{
    background-color: #E22023;
}

.project_icon.-second{
    background-color: #0D558C;
}

.project_icon.-third{
    background-color: #1E6E50;
}