.main-a_button{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color:#fff;
    font-weight: 500;
    background-color: #F77F00;
    box-shadow: 3px 3px 0px #000;
    cursor:pointer;
    padding: 15px 17px;
    border:none;
    border-radius: 5px;
    transition: all 0.3s;
}

.main-a_button:hover{
    background-color: #c46501;
    transform: scale(1.04);
}

.main-a_button.-second{
    width: 125px;
    text-align: center;
}