.main-projects{
    background-color: #000;
    border-bottom: 5px solid #F77F00;
}

.main-projects .wrapper_projects{
    padding: 30px 10px;
}

.main-projects .projects_title{
    text-align: center;
    margin-bottom: 40px;
}

.main-projects .container_projects{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-projects .project_icon{
    box-shadow: 5px 5px 0px #F77F00;
}