footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 28px;
    background-color: #272727;
    padding: 15px 15px 0px 15px;
}

footer > a > img{
    height: 40px;
}