.main-a_button{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color:#fff;
    font-weight: 500;
    background-color: #F77F00;
    box-shadow: 3px 3px 0px #000;
    cursor:pointer;
    padding: 15px 17px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s;
}

.main-a_button:hover{
    background-color: #c46501;
    transform: scale(1.04);
}

.main-a_button.-second{
    width: 125px;
    text-align: center;
}

.button-arrow{
    width: 40px;
    height: 34px;
    background-color: #000;
    box-shadow: 3px 3px 0px #F77F00;
    cursor: pointer;
    transition: all 0.3s;
}

.button-arrow:hover{
    background-color: #c46501;
    transform: scale(1.04);
}

.button-arrow .content{
    display: none;
}

.button-arrow.-right::before{
    content: "";
    display: inline-block;
    box-sizing: border-box;
    border: 13px solid transparent;
    border-left: 20px solid #fff;
    transform: translateX(7px);
}

.button-arrow.-left::before{
    content: "";
    display: inline-block;
    box-sizing: border-box;
    border: 13px solid transparent;
    border-right: 20px solid #fff;
    transform: translateX(-12px);
}

