.projects{
    background-color: #000;
}

.projects .wrapper_projects{
    padding: 30px 10px;
}

.projects .projects_title{
    text-align: center;
    margin-bottom: 40px;
}

.projects .container_projects{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.projects .project_icon{
    box-shadow: 5px 5px 0px #F77F00;
}